

<ul>
    <li class="">
        <a class="">
            <i class="fa fa-key"></i>
            个人中心
            <i class="fa fa-angle-right arrow"></i>
        </a>
        <ul class="">
            <li><a id="leftMenuItem_Password" href="@Url.Action("Password", "PersonalCenter")">修改密码</a></li>
                </ul>
    </li>

</ul>
