
@{
    ViewBag.MainMenu = "PersonalCenter";
    ViewBag.SubLeftMenu = "Password";


    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/MD5.js"></script>

<script language="javascript">

    var _validator;

    $(document).ready(function () {

        $("[keyenter]").keypress(function (e) {
            if (e.keyCode == 13) {
                save();
            }
        });

        _validator = $("#form").validate({
            onfocusout: false,
            onkeyup: false,
            showErrors: showValidationErrors,
            rules: {
                "txtPassword": "required",
                "txtNewPassword": "required",
                "txtNewPassword2": {
                    required: true,
                    minlength: 3,
                    equalTo: "#txtNewPassword"
                }
            },
            messages: {
                "txtPassword": "请输入当前密码；",
                "txtNewPassword": "请输入新密码；",
                "txtNewPassword2": {
                    required: "请再次输入新密码；",
                    minlength: "密码长度至少在3位以上；",
                    equalTo: "两次新密码输入不一致；"
                }
            }
        });
    });

    function save() {
        if (_validator.form() == false) {
            return;
        }

        var args = new Object();
        args.OldPassword = hex_md5($("#txtPassword").val()).toUpperCase();
        args.NewPassword = hex_md5($("#txtNewPassword").val()).toUpperCase();

        var layerIndex = layer.load(0, {
            shade: [0.2, '#fff']
        });

        $.ajax({
            url: "/Api/User/UpdatePassword",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(args),
            success: function (data, status, jqXHR) {
                if (data.Successful) {
                    layer.close(layerIndex);

                    //layer.msg("密码已更新。", {
                    //    time: 1000
                    //});

                    layerAlert("密码已更新，下次请使用新密码登录。");

                    $("#txtPassword").val("");
                    $("#txtNewPassword").val("");
                    $("#txtNewPassword2").val("");

                } else {
                    layer.closeAll();
                    handleApiResult(data);
                }
            },
            error: function (xmlHttpRequest) {
                alert("Error: " + xmlHttpRequest.status);
            }
        });
    }


</script>

<div style="padding:15px 15px 15px 20px;box-sizing:border-box;">
    <div class="font_black_20" style="float:left;line-height:29px;">
        @ViewBag.Title
    </div>
    <div style="float:right">
    </div>
    <div style="clear:both"></div>
</div>


<div style="height:1px;background-color:#DFDFDF"></div>


<div style="padding:15px;">
    <div id="divDataTable" class="divBorder_aque" style="padding:15px;">
        <form id="form">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr style="height:36px;">
                    <td style="width:150px;">
                        旧密码：
                    </td>
                    <td>
                        <input id="txtPassword" name="txtPassword" type="password" class="input_16" style="width:300px; " keyenter dtoproperty="OldPassword" maxlength="25" />
                    </td>
                </tr>
                <tr style="height:36px;">
                    <td>
                        新密码：
                    </td>
                    <td>
                        <input id="txtNewPassword" name="txtNewPassword" type="password" class="input_16" style="width:300px; " keyenter maxlength="25" />
                    </td>
                </tr>
                <tr style="height:36px;">
                    <td>
                        再次输入新密码：
                    </td>
                    <td>
                        <input id="txtNewPassword2" name="txtNewPassword2" type="password" class="input_16" style="width:300px; " keyenter dtoproperty="NewPassword" maxlength="25" />
                    </td>
                </tr>
            </table>
            <div style="margin-top:30px;">
                <input name="btnSave" type="button" class="btn_aque" id="btnStep2Next" value="保 存" onclick="save()" />
            </div>
        </form>
    </div>
</div>




