
@{
    ViewBag.Title = "PushMessageEdit";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

@Scripts.Render("~/Scripts/editViewCommon.js")





<script>
    var _id = getQueryString("id");

    var _mode = "create";//modify
    var _validator;
    var _data = null;

    

    $(document).ready(function () {

        $("[keyenter]").keypress(function (e) {
            if (e.keyCode == 13) {
                save();
            }
        });

        _validator = $("#form").validate({
            onfocusout: false,
            onkeyup: false,
            showErrors: showValidationErrors,
            rules: {
                "txtName": "required"
            },
            messages: {
                "txtName": "请输入名称；"
            }
        });
            
        load();


    });

    function load() {

        if (_id == undefined || _id == "") {
            return;
        }

        _mode = "modify";
        //$("#btnRemove").show();

        var url = "/Api/PushMessage/GetPushMessage/" + _id;

        __requestLoadDataApi(url,function(data){
            _data = data.Data;

           // console.log(JSON.stringify(_data));

            __setDto("form", _data);

        });
    }

    function save() {

        if (_validator.form() == false) {
            return;
        }

        var url = "/Api/PushMessage/CreatePushMessage";
        if (_mode == "modify") {
            url = "/Api/PushMessage/UpdatePushMessage";
        }

        if (_data == undefined || _data == null) {
            _data = new Object();
        }

        __getDto("form", _data);


        __requestSaveDataApi(url, _data, _mode);
    }

    function removeData() {
        __requestRemoveDataApi("/Api/PushMessage/RemovePushMessage/" + _id);
    }


</script>

<div class="PopupWindowTitle">
    <span id="spanTitle">消息</span>
</div>
<div style="position:absolute; overflow:auto ;margin-top:5px;left:30px; right:30px; bottom:60px; top:50px; ">
    <form id="form" onsubmit="return false">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="110" height="36">消息类型：</td>
                <td>
                    <select style="width:96%;" class="input_16" keyenter dtoproperty="type">
                        <option value="0" selected>打开APP</option>
                        @*<option value="1">打开图文</option>*@
                    </select>
                </td>
            </tr>
            <tr>
                <td width="110" height="36">标题：</td>
                <td><input id="txt_title" name="txt_title" type="text" class="input_16" style="width:96%; " keyenter dtoproperty="title" /></td>
            </tr>
            <tr>
                <td width="110" height="36">消息：</td>
                <td>
                    <textarea rows="5" id="txt_description" name="txt_description" type="text" class="input_16" style="width:96%; " keyenter dtoproperty="description" >

                    </textarea>
                </td>
            </tr>
            @*<tr id="trEditor" >
                <td width="110" height="36" valign="top">图文内容：</td>
                <td>
                    <script id="editor" type="text/plain" style="width:99%;height:500px;">
                    </script>
                </td>
            </tr>*@
        </table>
    </form>
</div>
<div style="background-color:#ccc; position:absolute; bottom:55px; left:20px;right:20px; height:1px;">
</div>
<div style="position:absolute; bottom:15px; left:20px;right:20px;">

    <div style="float:left;">
        @*<input name="btnRemove" type="button" class="btn_red" id="btnRemove" value="删 除" style="display:none" onclick="removeData()" />*@
    </div>
    <div style="float:right">
        @*<input name="btnPush" type="button" class="btn_green" id="btnPush" value="推 送" onclick="push()" />*@
        <input name="btnSave" type="button" class="btn_aque" id="btnSave" value="保 存" onclick="save()" />
        <input name="btnCancel" type="button" class="btn_aque" id="btnCancel" value="取 消" onclick="__closePopupFrameLayer()" />
    </div>
    <div style="clear:both">
    </div>
</div>



