
@{
    ViewBag.Title = "ProductAttributeEdit";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

@Scripts.Render("~/Scripts/editViewCommon.js")

<script>
    var _id = getQueryString("id");
    var _parentId = getQueryString("parentId");
    var _parentName = getQueryString("parentName");

    var _mode = "create";//modify
    var _validator;
    var _data = null;

    $(document).ready(function () {
        $("[keyenter]").keypress(function (e) {
            if (e.keyCode == 13) {
                save();
            }
        });

        _validator = $("#form").validate({
            onfocusout: false,
            onkeyup: false,
            showErrors: showValidationErrors,
            rules: {
                "txt_name": "required",
                "txt_phone_num": {
                    required: true,
                    number: true,
                    cellphone: true
                }
            },
            messages: {
                "txt_name": "请输入姓名；",
                "txt_phone_num": {
                    required: "请输入手机号；",
                    number: "请输入正确的手机号；"
                }
            }
        });

        load();
    });

    function load() {

        if (_id == undefined || _id == "") {
            return;
        }

        _mode = "modify";
        $("#btnRemove").show();

        var url = "/Api/Product/GetProductAttribute/" + _id;

        __requestLoadDataApi(url,function(data){
            _data = data.Data;
            __setDto("form", _data);



        });
    }

    function save() {

        if (_validator.form() == false) {
            return;
        }

        var url = "/Api/Product/CreateProductAttribute";
        if (_mode == "modify") {
            url = "/Api/Product/UpdateProductAttribute";
        }

        if (_data == undefined || _data == null) {
            _data = new Object();
        }

        __getDto("form", _data);

        if (_parentId != null && _parentId != "" && _parentId != "null") {
            _data.parent_id = _parentId;
        }

        __requestSaveDataApi(url, _data, _mode);
    }

    function removeData() {
        __requestRemoveDataApi("/Api/Product/RemoveProductAttribute/" + _id);
    }


</script>

<div class="PopupWindowTitle">
    <span id="spanTitle">商品属性</span>
</div>
<div style="position:absolute; overflow:auto ;margin-top:5px;left:30px; right:30px; bottom:60px; top:50px; ">
    <form id="form" onsubmit="return false">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="110" height="36">属性名称：</td>
                <td><input id="txt_attribute_name" name="txt_attribute_name" type="text" class="input_16" style="width:96%; " keyenter dtoproperty="attribute_name" maxlength="50" /></td>
            </tr>
            <tr>
                <td width="110" height="36">排列序号：</td>
                <td><input id="txt_serial_no" name="txt_serial_no" type="text" class="input_16" style="width:96%; " keyenter dtoproperty="serial_no" maxlength="20" /></td>
            </tr>

        </table>
    </form>
</div>
<div style="background-color:#ccc; position:absolute; bottom:55px; left:20px;right:20px; height:1px;">
</div>
<div style="position:absolute; bottom:15px; left:20px;right:20px;">
    <div style="float:left;">
        <input name="btnRemove" type="button" class="btn_red" id="btnRemove" value="删 除" style="display:none" onclick="removeData()" />
    </div>
    <div style="float:right">
        <input name="btnSave" type="button" class="btn_aque" id="btnSave" value="保 存" onclick="save()" />
        <input name="btnCancel" type="button" class="btn_aque" id="btnCancel" value="取 消" onclick="__closePopupFrameLayer()" />
    </div>
    <div style="clear:both">
    </div>
</div>



